

  .footer {
    background-color: black; /* Arrière-plan noir */
    text-align: center; /* Centrer le contenu */
    padding: 50px; /* Espacement intérieur */
    color: white;
    margin-top:30px; 
    @media screen and (max-width: 768px){
      height: 180px;
    }
}

.footer-logo {
    width: 150px; /* Taille de l'image (tu peux ajuster) */
    color: white; /* Couleur du texte en blanc */
}

footer h3 {
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 500;
}