




.about{
  @media screen and (max-width:768px){
    margin: 20px;
    margin-bottom: 29%;
  }
}
  .header{
    
    display: flex;
    margin: auto;
    max-width: 1240px;
    width: 90%;
    justify-content: space-between;
    padding: 20px  ;
    align-items: center;
    
    
    @media screen and (max-width: 375px) {
      padding: 0;
      
      
      }
  }
  
      @media screen and (max-width: 768px) {
        .header img{
          width: 145px;
        }
        @media screen and (max-width: 375px) {
          .header img{
            width: 70px;
          }
          
          }
      
    }
   

  

  .header ul {
    display: flex; 
      @media screen and (max-width: 1024px) {
      justify-content: space-around;
    
        @media screen and (max-width: 375px) {
          
          align-items: center;
        

      
        }
      }

  }
  .navlink{
   
    @media screen and (max-width: 375px) {
      margin-right :20px;
    }
  }
  a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    margin-left: 50px;
    cursor: pointer;
    
    
    &.nav-underline {
      text-decoration-line: underline;
    }
    @media screen and (max-width: 576px) {
     margin-left: 20px;
     
      font-size: 0.8rem;
      
    }
  }

  .header li {
    
    list-style: none ;
    @media screen and (max-width: 375px) {
      width: 70px;
      
    }
  }

  

  
  