
.home{
    margin: auto;
    max-width: 1240px;
    height: 90%;
}

.banner{
    height: 180px;
    margin-bottom: 40px;
    position: relative;
    opacity: 0.9;
    mix-blend-mode: darken;
    @media screen and (max-width:1024px) {
        height: 200px;
      }
      @media screen and (max-width:768px) {
        height: 111px;
        border-radius: 10px;
        margin-bottom: 20px;
       }
}


.banner-img {
    border-radius: 25px; /* Arrondir les coins */
    height: 100%; /* Hauteur à 100% */
    opacity: 0.7;
    object-fit: cover; /* Ajustement de l'objet pour remplir le conteneur */
    width: 100%; /* Assurez-vous que l'image prend toute la largeur de son conteneur */
    @media screen and (max-width:768px) {
        border-radius: 10px;
    }
}

.banner-title {
    position: absolute; /* Positionnement absolu pour superposer le texte */
    top: 10px; /* Ajuster la distance du haut */
    left: 20px; /* Ajuster la distance de la gauche */
    color: white; /* Couleur du texte en blanc */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optionnel : ajouter une ombre au texte */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 3rem;
    @media screen and (max-width:1024px) {
        font-size: 2.35rem;
      }
      @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 2rem;
        font-weight: 300;
       }
      @media screen and (max-width:375px) {
        font-size: 1.7rem;
        font-weight: 300;
       }
}
