.tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block: 0.5rem;
    @media screen and (max-width: 375px){
        margin: 0;
        margin-left: -30px;
    }

    // Styles for the tag inside the TagList
    .tag {
        display: inline-block;
        background-color: #0065BD; // couleur de fond des tags
        color: #FFFFFF; // couleur du texte des tags
        padding: 0.15rem 0.75rem;
        font-size: 0.875rem;
        border-radius: 100vmax;
    }
}